{% extends 'base.html' %}

{% block titel %}
Register page
{% endblock %}

{% block content %}
Please register

<form>
  <div class="mb-3">
    <label for="username" class="form-label">username</label>
    <input type="username" class="form-control" id="username" aria-describ{% extends 'base.html' %}


<form method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">username</label>
    <input type="username" class="form-control" id="username" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

edby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

